<div class="col-md-12 no-padding">
	<div class="action-bar clearfix">
		<h1> Please sign in! </h1>
	</div>
	<div class="content-wrapper">
		<div class="alert" ng-if"feedback.hasFeedback" ng-class="{ 'alert-success': feedback.status === 'success', 'alert-danger': feedback.status === 'danger'}">
			<p>{{feedback.message}}</p>
		</div>
		
		<form role="form" ng-submit="login()">
		  <div class="form-group">
			<label for="emailLogin">Email</label>
			<input type="email" class="form-control" placeholder="Email" ng-model="user.email">
		  </div>
		  <div class="form-group">
			<label for="passwordLogin">Password</label>
			<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
		  </div>
		  <button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
	<p></p>
	<div>
		<a class="btn btn-primary btn-block" href="" ui-sref="app.create">Not a user? Sign up!</a>
	</div>
	<p></p>
	<div>
		<a class="btn btn-primary btn-block" href="" ui-sref="app.guest">Browse as a guest!</a>
	</div>
</div>